@import './components/CSS/normalize.css';

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 60%;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

button {
  border: 1px solid black;
  border-radius: 5px;
}

.filter-label {
  display: inline-block;
  margin-bottom: 20px;
}

ul {
  padding-left: 40px;
}

.filter__button {
  margin-top: 20px;
}

ul button {
  display: inline-block;
  margin-left: 20px;
}

ul li:not(:last-child) {
  margin-bottom: 10px;
}
